/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playball&family=Titillium+Web:wght@300&display=swap');

/* Asterisk wildcard selector to override default broswer styles */
* {
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    background-color: #141414;
    color: #E2BA08;
    width: 100%;
}

header h1 {
    font-size: 2.6em;
    text-align: center;
    padding: 0.3em;
    font-family: 'Playball', cursive;
}


header div {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 0.4em 0;
}

header div>a:hover {
    color: #ebebeb;
}

.active {
    color: #ebebeb;
}

/* MAIN CONTENT */
main {
    background-color: #141414;
    flex: 1 0 auto;
    color: #ebebeb;
}

/* ABOUT PAGE */
#intro {
    height: 230px;
    width: 100%;
    background: url("../images/intro-img.jpg") no-repeat center center/cover;
    position: relative
}

.about {
    padding: 1em;
}

h2 {
    color: #E2BA08;
    font-family: 'Marck Script', cursive;
}

#cover-text {
    position: absolute;
    bottom: 6px;
    right: 15px;
    font-size: 130%;
    width: 70%;
    text-align: right;
}

img {
    background: no-repeat center bottom/cover;
    height: 200px;
    width: 100%;
}

/* MENU PAGE */
/* NAVIGATION BAR */
#menu-nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 0.5em 0;
}

#menu-nav a:hover {
    text-decoration: underline;
}

/* MENU HEADINGS */
.menu h2,
.menu h3 {
    text-align: center;
    color: #E2BA08;
}

.menu h3 {
    padding-top: 6px;
}

.menu h2 {
    margin: 10px 0;
    text-decoration: underline;
}

/* MENU CONTENT */
.menu-items {
    padding: 1em;
}

.menu-items div {
    padding-bottom: 10px;
}

/* BACK TO TOP BUTTON */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 1em;
    font-size: 20px;
}

/* CONTACT PAGE */
form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}
#contact-form {
    display: flex;
    justify-content: center;
}

button {
    width: 5em;
    background-color: white;
    color: black;
    text-align: center;
}

button:hover {
    background-color: black;
    color: white;
}

form div {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

/* THANK YOU PAGE */
.thank-you {
    background: #ebebeb;
    color: #141414;
}

.thank-you h1 {
    text-align: center;
    padding: 2em;
    font-size: 200%;
}

.thank-you p {
    text-align: center;
    font-size: 150%;
}

.thank-you a {
    text-decoration: underline;
}

/* 404 ERROR PAGE */
.error {
    text-align: center;
}

.error a {
    text-decoration: underline;
}

.error h1 {
    padding: 1em;
}

.error-img {
    width: 40%;
    margin-top: 2em;
}

/* FOOTER */
footer {
    background-color: #141414;
    padding: 8px;
}

footer div {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

footer h4 {
    color: #E2BA08;
    padding-bottom: 2px;
}

footer p {
    padding-bottom: 4px;
    text-align: center;
    color: #ebebeb;
}

footer a {
    color: #ebebeb;
    text-decoration: underline;
}

/* Media query: tablets and larger (768px+) */
@media screen and (min-width:768px) {

    /* ABOUT PAGE */
    #intro {
        height: 400px;
        background: url("../images/intro-img.jpg") no-repeat center bottom/cover;
    }

    #cover-text {
        right: 1em;
        font-size: 240%;
        width: 40%;
    }

    #part-1,
    #part-2 {
        display: flex;
        align-items: center;
    }

    #part-2 {
        flex-direction: row-reverse;
        margin-bottom: 2em;
    }

    img {
        width: 50%;
        height: 300px;
    }

    .about {
        width: 50%;
        font-size: 150%;
    }

    /* MENU PAGE */
    .menu>.menu-items {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .menu-items>.col1,
    .menu-items>.col2 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .menu h2 {
        font-size: 30px;
    }

    .menu h3 {
        font-size: 25px;
        text-align: start;
        padding-left: 16px;
    }

    .menu h4 {
        font-size: 22px;
    }

    .menu p {
        font-size: 20px;
    }

    /* THANK YOU PAGE */
    .thank-you h1 {
        font-size: 250%;
    }

    .thank-you p {
        font-size: 250%;
    }
}

/* Media query: laptops and larger (992px+) */
@media screen and (min-width:992px) {

    /* THANK YOU PAGE */
    .thank-you h1 {
        font-size: 400%;
        padding: 1em;
    }

    .thank-you p {
        font-size: 250%;
        margin-top: 1em;
    }

    /* FOOTER */
    #footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        font-size: 15px;
    }

    footer h4 {
        font-size: 18px;
    }

    #address {
        flex-basis: 200px;
    }
}