/* Asterisk wildcard selector to override default broswer styles */
* {
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    background-color: #555555;
    color: #CFB53B;
    position: fixed;
    width: 100%;
}

header h1 {
    font-size: 2.6em;
    text-align: center;
    padding: 0.3em;
}

/* header a {
    text-decoration: none;
    color: inherit;
} */

header div {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 0.4em 0;
}

/* MAIN CONTENT */
main {
    background-color: #ebebeb;
    flex: 1 0 auto;
    margin-top: 113px
}
/* MENU PAGE */
#menu-nav {
    display: flex;
    justify-content: space-around;
        font-size: 1.3em;
        padding: 0.5em 0;
}

.menu h2, .menu h3 {
    text-align: center;
    color: #CFB53B;
}

/* FOOTER */
footer {
    background-color: #555555;

}

footer div {
    display: flex;
align-items: center;
    flex-flow: column wrap;
}
footer h4 {
color: #CFB53B;
}
