/* Asterisk wildcard selector to override default broswer styles */
* {
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    background-color: #555555;
    color: #CFB53B;
    width: 100%;
}

header h1 {
    font-size: 2.6em;
    text-align: center;
    padding: 0.3em;
}


header div {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 0.4em 0;
}

header div>a:hover {
    color: #ebebeb;
}

.active {
    color: #ebebeb;
}

/* MAIN CONTENT */
main {
    background-color: #ebebeb;
    flex: 1 0 auto;

}

/* ABOUT PAGE */
#intro {
    height: 200px;
    width: 100%;
    background: url("../assets/images/intro-img.jpg") no-repeat center center/cover;
    position: relative;
}

.about {
    padding: 1em;
    /* font-size: 150%; */
}

h2 {

    color: #CFB53B;
}

#cover-text {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 150%;
    width: 60%;
    text-align: right;
}

#pasta-img {
    background: url("../assets/images/pasta.jpg") no-repeat center center/cover;
    height: 200px;
    width: auto;
}

#pizza-img {
    background: url("../assets/images/pizza.jpg") no-repeat center center/cover;
    height: 200px;
    width: auto;
}

/* MENU PAGE */
/* NAVIGATION BAR */
#menu-nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 0.5em 0;
}

#menu-nav a:hover {
    text-decoration: underline;
}

/* MENU HEADINGS */
.menu h2,
.menu h3 {
    text-align: center;
    color: #CFB53B;
}

.menu h3 {
    padding-top: 6px;
}

.menu h2 {
    margin: 10px 0;
}

/* MENU CONTENT */
.menu-items {
    padding: 1em 0;
}

.menu-items div {
    padding-bottom: 10px;
}

/* CONTACT PAGE */
form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

button {
    width: 5em;
    align-items: center;
}

form div {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

/* BACK TO TOP BUTTON */
#back-to-top {
    position: fixed;
    bottom: 13em;
    right: 2em;
    padding: 5px;
}

/* FOOTER */
footer {
    background-color: #555555;
    padding: 8px;
}

footer div {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

footer h4 {
    color: #CFB53B;
    padding-bottom: 2px;
}

footer p {
    padding-bottom: 4px;
    text-align: center;
}

footer a {
    color: #ebebeb;
}

/* Media query: tablets and larger (768px+) */
@media screen and (min-width:768px) {

    /* ABOUT PAGE */
    #intro {
        height: 400px;
        background: url("../assets/images/intro-img.jpg") no-repeat center bottom/cover;
    }

    #cover-text {
        right: 1em;
        font-size: 250%;
        width: 40%;
    }
    #part-1, #part-2 {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }
    #part-2 {
        flex-direction: row-reverse;
    }
    #pasta-img, #pizza-img {
        width: 50%;
        height: 300px;
    }
    .about {
        width: 50%;
        font-size: 150%;
    }

    /* MENU PAGE */
    .menu>.menu-items {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

    .menu-items>.col1,
    .menu-items>.col2 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .menu h2 {
        font-size: 30px;
        text-decoration: underline;
    }

    .menu h3 {
        font-size: 25px;
    }

    .menu h4 {
        font-size: 22px;
    }

    .menu p {
        font-size: 20px;
    }
}

/* Media query: laptops and larger (992px+) */
@media screen and (min-width:992px) {

    /* FOOTER */
    #footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        font-size: 15px;
    }

    footer h4 {
        font-size: 18px;
    }

    #address {
        flex-basis: 200px;
    }
}