/* Asterisk wildcard selector to override default broswer styles */
 * {
    margin: 0;
    box-sizing: border-box;
 }
/* HEADER */
header {
background-color: #555555;
/* color: #CFB53B; */
}
/* MAIN CONTENT */
main {
    background-color: #ebebeb;
}
/* FOOTER */
footer {
    background-color: #555555;
}